{% extends 'index.html' %}

{% block title %} Menu {% endblock %}

{% block menu %}

<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <a class="navbar-brand" href="#"><i class="fas fa-compact-disc" style="font-size: 1.5em;"></i></a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">search</a>
            </li>

            {% if is_authenticated %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ username }}
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fas fa-heart"></i> <strike>fav</strike></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-check-square"></i> <strike>shelf</strike></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-list-alt"></i> <strike>wishlist</strike></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-sliders-h"></i> <strike>settings</strike></a>
                        <a class="dropdown-item" href="#" id="logout"><i class="fas fa-sign-out-alt"></i> logout</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        community
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#"><i class="fas fa-users"></i> <strike>users</strike></a>
                        <a class="dropdown-item" href="#"><i class="fas fa-suitcase"></i> <strike>trade</strike></a>
                    </div>
                </li>

            {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        sign in
                    </a>
                    <div class="dropdown-menu">
                        <div class="formContent">

                        <form method="POST" action="/login/">{% csrf_token %}
                            <input type="text" id="username" class="" name="username" placeholder="username">
                            <input type="password" id="password" class="" name="password" placeholder="password">
                            <input type="submit" class="" value="Log In">
                        </form>

                        </div>
                    </div>
                </li>

            {% endif %}
             <!-- <li class="nav-item">
                <a class="nav-link" href="#">Trade</a>
            </li> -->
        </ul>
    </div>

</nav>

{% block strona %} {% endblock %}

{% endblock %}