<div class="container-fluid">
    <div class="row alert alert-light" style="margin: auto; display: table;"
        role="alert" id="loadingDivRecord">
        record data loading ... &nbsp;
        <div class="spinner-border spinner-border-sm" role="status"></div>
    </div>
</div>

<div class="d-flex justify-content-left">
    <div class="card" style="width: 100%; height: 100%;">
        <img class="card-img-top" src="" alt="" id="recordImg">
        <div class="card-body">
            <h4 class="card-title" id="recordTitle"></h4>
            <h7 class="card-text" id="recordLabel"></h7>
            <br>
            <i class="far fa-heart" id="favIcon"></i>
            <i class="far fa-square" id="shelfIcon"></i>
            <i class="far fa-list-alt" id="wishIcon"></i>
            <hr>
            <ol id="recordTracks"></ol>
        </div>
    </div>
</div>