{% extends 'menu.html' %}

{% block title %} TruPy {% endblock %}

{% block strona %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-4 main-wrapper">
                <div class="row">
                    <input type="text" class="form-control" id="artistName" placeholder="search artist"/>
                </div>
                <div class="row alert alert-light" style="margin: auto; display: table;" role="alert" id="loadingDiv">
                    data loading ... &nbsp;
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                </div>

                <div class="">
                    <table class="table table-hover" id="results">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-4 embed-responsive embed-responsive-1by1">
                <iframe id="artistPreview" class="embed-responsive-item"
                    src="getArtist/?id=1439605&output=embed" allowfullscreen>
                </iframe>
            </div>

            <div class="col-4 embed-responsive embed-responsive-1by1">
                <iframe id="releasePreview" class="embed-responsive-item"
                    src="getRelease/?id=670664&output=embed" allowfullscreen>
                </iframe>
            </div>

        </div>
    </div>


{% endblock %}